In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\leowa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\leowa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas
import numpy
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
pyspark

In [6]:
spark = SparkSession.builder \
    .appName("DataUploadExample") \
    .getOrCreate()

In [ ]:
dataset_path = "C:/mvi/New folder (4)/C__Users_Aleny_OneDrive_Desktop_Cyclistic Analysis.csv"

In [11]:
df = spark.read.csv(dataset_path, header=True, inferSchema=True)

In [ ]:
df

DataFrame[ride_id: string, started_at: date, ended_at: date, rideable_type: string, start_station_id: int, start_station_name: string, end_station_id: int, end_station_name: string, member_casual: string, ride_length: int, date: date, month: int, day: int, year: int, day_of_week: string]

:

In [12]:
df.show()

+--------+----------+----------+-------------+----------------+--------------------+--------------+--------------------+-------------+-----------+----------+-----+---+----+-----------+
| ride_id|started_at|  ended_at|rideable_type|start_station_id|  start_station_name|end_station_id|    end_station_name|member_casual|ride_length|      date|month|day|year|day_of_week|
+--------+----------+----------+-------------+----------------+--------------------+--------------+--------------------+-------------+-----------+----------+-----+---+----+-----------+
|21742443|2019-01-01|2019-01-01|         2167|             199|Wabash Ave & Gran...|            84|Milwaukee Ave & G...|       member|        420|2019-01-01|    1|  1|2019|    Tuesday|
|21742444|2019-01-01|2019-01-01|         4386|              44|State St & Randol...|           624|Dearborn St & Van...|       member|        420|2019-01-01|    1|  1|2019|    Tuesday|
|21742445|2019-01-01|2019-01-01|         1524|              15|Racine Ave & 18th St|           644|Western Ave & Fil...|       member|        840|2019-01-01|    1|  1|2019|    Tuesday|
|21742446|2019-01-01|2019-01-01|          252|             123|California Ave & ...|           176|   Clark St & Elm St|       member|       1800|2019-01-01|    1|  1|2019|    Tuesday|
|21742447|2019-01-01|2019-01-01|         1170|             173|Mies van der Rohe...|            35|Streeter Dr & Gra...|       member|        360|2019-01-01|    1|  1|2019|    Tuesday|
|21742448|2019-01-01|2019-01-01|         2437|              98|LaSalle St & Wash...|            49|Dearborn St & Mon...|       member|        240|2019-01-01|    1|  1|2019|    Tuesday|
|21742449|2019-01-01|2019-01-01|         2708|              98|LaSalle St & Wash...|            49|Dearborn St & Mon...|       member|        180|2019-01-01|    1|  1|2019|    Tuesday|
|21742450|2019-01-01|2019-01-01|         2796|             211|St. Clair St & Er...|           142|McClurg Ct & Erie St|       member|        120|2019-01-01|    1|  1|2019|    Tuesday|
|21742451|2019-01-01|2019-01-01|         6205|             150|Fort Dearborn Dr ...|           148|  State St & 33rd St|       member|       1740|2019-01-01|    1|  1|2019|    Tuesday|
|21742452|2019-01-01|2019-01-01|         3939|             268|Lake Shore Dr & N...|           141|Clark St & Lincol...|       member|        300|2019-01-01|    1|  1|2019|    Tuesday|
|21742453|2019-01-01|2019-01-01|         6243|             299|Halsted St & Rosc...|           295|Broadway & Argyle St|       member|        900|2019-01-01|    1|  1|2019|    Tuesday|
|21742454|2019-01-01|2019-01-01|         6300|             204|Prairie Ave & Gar...|           420| Ellis Ave & 55th St|       member|        660|2019-01-01|    1|  1|2019|    Tuesday|
|21742455|2019-01-01|2019-01-01|         3029|              90|     Millennium Park|           255|Indiana Ave & Roo...|       member|        600|2019-01-01|    1|  1|2019|    Tuesday|
|21742456|2019-01-01|2019-01-01|           84|              90|     Millennium Park|           255|Indiana Ave & Roo...|       casual|        600|2019-01-01|    1|  1|2019|    Tuesday|
|21742457|2019-01-01|2019-01-01|         5019|             289|Wells St & Concor...|           324|Stockton Dr & Wri...|       member|        960|2019-01-01|    1|  1|2019|    Tuesday|
|21742458|2019-01-01|2019-01-01|         5526|             289|Wells St & Concor...|           324|Stockton Dr & Wri...|       member|        900|2019-01-01|    1|  1|2019|    Tuesday|
|21742459|2019-01-01|2019-01-01|         3373|             152|Lincoln Ave & Div...|           166|Ashland Ave & Wri...|       member|        420|2019-01-01|    1|  1|2019|    Tuesday|
|21742460|2019-01-01|2019-01-01|         5777|             268|Lake Shore Dr & N...|           319|Greenview Ave & D...|       casual|       1380|2019-01-01|    1|  1|2019|    Tuesday|
|21742461|2019-01-01|2019-01-01|         3940|              35|Streeter Dr & Gra...|            35|Streeter Dr & Gra...|       member|        120|2019-01-01|    1|  1|2019|    Tuesday|
|21742463|2019-01-01|2019-01-01|         3914|              35|Streeter Dr & Gra...|            39|Wabash Ave & Adam...|       casual|       2340|2019-01-01|    1|  1|2019|    Tuesday|
+--------+----------+----------+-------------+----------------+--------------------+--------------+--------------------+-------------+-----------+----------+-----+---+----+-----------+
only showing top 20 rows

EDA

In [12]:
df.show(5) #(or) df.take(5)

+--------+----------+----------+-------------+----------------+--------------------+--------------+--------------------+-------------+-----------+----------+-----+---+----+-----------+
| ride_id|started_at|  ended_at|rideable_type|start_station_id|  start_station_name|end_station_id|    end_station_name|member_casual|ride_length|      date|month|day|year|day_of_week|
+--------+----------+----------+-------------+----------------+--------------------+--------------+--------------------+-------------+-----------+----------+-----+---+----+-----------+
|21742443|2019-01-01|2019-01-01|         2167|             199|Wabash Ave & Gran...|            84|Milwaukee Ave & G...|       member|        420|2019-01-01|    1|  1|2019|    Tuesday|
|21742444|2019-01-01|2019-01-01|         4386|              44|State St & Randol...|           624|Dearborn St & Van...|       member|        420|2019-01-01|    1|  1|2019|    Tuesday|
|21742445|2019-01-01|2019-01-01|         1524|              15|Racine Ave & 18th St|           644|Western Ave & Fil...|       member|        840|2019-01-01|    1|  1|2019|    Tuesday|
|21742446|2019-01-01|2019-01-01|          252|             123|California Ave & ...|           176|   Clark St & Elm St|       member|       1800|2019-01-01|    1|  1|2019|    Tuesday|
|21742447|2019-01-01|2019-01-01|         1170|             173|Mies van der Rohe...|            35|Streeter Dr & Gra...|       member|        360|2019-01-01|    1|  1|2019|    Tuesday|
+--------+----------+----------+-------------+----------------+--------------------+--------------+--------------------+-------------+-----------+----------+-----+---+----+-----------+
only showing top 5 rows

In [13]:
df.collect()[-5:]

[Row(ride_id='005D3BC2A3B33DDA', started_at=datetime.date(2020, 3, 12), ended_at=datetime.date(2020, 3, 12), rideable_type='docked_bike', start_station_id=91, start_station_name='Clinton St & Washington Blvd', end_station_id=47, end_station_name='State St & Kinzie St', member_casual='member', ride_length=360, date=datetime.date(2020, 3, 12), month=3, day=12, year=2020, day_of_week='Thursday'),
 Row(ride_id='82B10FA3994BC66A', started_at=datetime.date(2020, 3, 7), ended_at=datetime.date(2020, 3, 7), rideable_type='docked_bike', start_station_id=161, start_station_name='Rush St & Superior St', end_station_id=240, end_station_name='Sheridan Rd & Irving Park Rd', member_casual='member', ride_length=2940, date=datetime.date(2020, 3, 7), month=3, day=7, year=2020, day_of_week='Saturday'),
 Row(ride_id='AA0D5AAA0B59C8AA', started_at=datetime.date(2020, 3, 1), ended_at=datetime.date(2020, 3, 1), rideable_type='docked_bike', start_station_id=141, start_station_name='Clark St & Lincoln Ave', end_station_id=210, end_station_name='Ashland Ave & Division St', member_casual='casual', ride_length=1560, date=datetime.date(2020, 3, 1), month=3, day=1, year=2020, day_of_week='Sunday'),
 Row(ride_id='3296360A7BC20FB8', started_at=datetime.date(2020, 3, 7), ended_at=datetime.date(2020, 3, 7), rideable_type='docked_bike', start_station_id=672, start_station_name='Franklin St & Illinois St', end_station_id=264, end_station_name='Stetson Ave & South Water St', member_casual='member', ride_length=660, date=datetime.date(2020, 3, 7), month=3, day=7, year=2020, day_of_week='Saturday'),
 Row(ride_id='064EC7698E4FF9B3', started_at=datetime.date(2020, 3, 8), ended_at=datetime.date(2020, 3, 8), rideable_type='docked_bike', start_station_id=110, start_station_name='Dearborn St & Erie St', end_station_id=85, end_station_name='Michigan Ave & Oak St', member_casual='casual', ride_length=1740, date=datetime.date(2020, 3, 8), month=3, day=8, year=2020, day_of_week='Sunday')]

In [14]:
df.describe().show()

+-------+----------------+------------------+------------------+--------------------+-----------------+--------------------+-------------+------------------+------------------+------------------+-------------------+-----------+
|summary|         ride_id|     rideable_type|  start_station_id|  start_station_name|   end_station_id|    end_station_name|member_casual|       ride_length|             month|               day|               year|day_of_week|
+-------+----------------+------------------+------------------+--------------------+-----------------+--------------------+-------------+------------------+------------------+------------------+-------------------+-----------+
|  count|          788189|            788189|            788189|              788189|           788189|              788189|       788189|            788189|            788189|            788189|             788189|     788189|
|   mean|        Infinity| 3429.484607019495|202.15115156390155|                NULL|202.1307135725061|                NULL|         NULL|1189.4372035133706|2.0744275801869856|14.756392185123111|  2019.536825558337|       NULL|
| stddev|             NaN|1923.3210248377454|155.92462254104603|                NULL|156.3392730307847|                NULL|         NULL| 33291.89758396427|0.8342889611478453| 8.628450422728255|0.49864235050384464|       NULL|
|    min|000054ABAD1C067C|                 1|                 2| 2112 W Peterson Ave|                2| 2112 W Peterson Ave|       casual|                 0|                 1|                 1|               2019|     Friday|
|    max|FFFFED71E01CE28F|       docked_bike|               673|Yates Blvd & 75th St|              675|Yates Blvd & 75th St|       member|          10632000|                 3|                31|               2020|  Wednesday|
+-------+----------------+------------------+------------------+--------------------+-----------------+--------------------+-------------+------------------+------------------+------------------+-------------------+-----------+

In [15]:
df.printSchema() #INFO

root
 |-- ride_id: string (nullable = true)
 |-- started_at: date (nullable = true)
 |-- ended_at: date (nullable = true)
 |-- rideable_type: string (nullable = true)
 |-- start_station_id: integer (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- end_station_id: integer (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- member_casual: string (nullable = true)
 |-- ride_length: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- day_of_week: string (nullable = true)

In [16]:
row = df.count()

In [17]:
row

788189

In [18]:
columns=len(df.columns)

In [19]:
columns

15

In [20]:
df.columns

['ride_id',
 'started_at',
 'ended_at',
 'rideable_type',
 'start_station_id',
 'start_station_name',
 'end_station_id',
 'end_station_name',
 'member_casual',
 'ride_length',
 'date',
 'month',
 'day',
 'year',
 'day_of_week']

In [21]:
from pyspark.sql.functions import col

In [23]:
from pyspark.sql.functions import col
null_df = df.select([col(c).isNull().alias(c) for c in df.columns])
null_df

DataFrame[ride_id: boolean, started_at: boolean, ended_at: boolean, rideable_type: boolean, start_station_id: boolean, start_station_name: boolean, end_station_id: boolean, end_station_name: boolean, member_casual: boolean, ride_length: boolean, date: boolean, month: boolean, day: boolean, year: boolean, day_of_week: boolean]