In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\leowa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\leowa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas
import numpy
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('sql practice').getOrCreate()

In [5]:
df = spark.read.csv("C:/mvi/New folder (4)/medical_aid_claims (2).csv",header = True)

In [6]:
df1 = spark.read.csv("C:/mvi/New folder (4)/best_rows.xls",header=True)

In [7]:
df.show()

+--------+--------------------+------+---------+-----------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
|    name|               email|gender| location|   employer|relationship|patient_name|patient_suffix|patient_dob|Age|               cause|Fee Charged|membership_period|number_of_claims|number_of_dependants|label|_c16|_c17|_c18|
+--------+--------------------+------+---------+-----------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
|   Chipi|  ajimmison0@sun.com|female|   Kwekwe|       Vipe| Grandfather|     Mabhena|           789|       1995| 28|               Other|       3798|             1541|               2|                   4|    0|NULL|NULL|NULL|
|   Femba|rsoonhouse1@googl...|female|Marondera|       Mudo|     Husband|     Sithole|           860|       1992| 31|               Other|      48905|             8269|               4|                   3|    0|NULL|NULL|NULL|
|    Geta|bchecchetelli2@ho...|female|   Rusape|     Skaboo|      Mother|       Chipi|           374|       1999| 24|Road Traffic Acci...|      39963|             6223|               2|                   2|    0|NULL|NULL|NULL|
|Tichaona|    mgarman3@psu.edu|female|   Rusape|  Babbleset|      Father|      Jembwa|           729|       1978| 45|Road Traffic Acci...|      34948|             8832|               6|                   3|    0|NULL|NULL|NULL|
|   Chisa|ccough4@biglobe.n...|female| Bulawayo|   Flipopia|      Father|        Foto|           716|       1992| 31|    Accident At Work|      46984|             8804|               1|                   2|    1|NULL|NULL|NULL|
|   Gweta| mhylden5@sfgate.com|female|   Kwekwe| Brainverse|    Daughter|       Evans|           160|       1974| 49|               Other|      37298|             2445|               2|                   4|    0|NULL|NULL|NULL|
|   Konde|    mlent6@patch.com|  male|   Rusape|   Photobug|      Nepfew|       Chiri|           626|       2001| 22|Road Traffic Acci...|      33981|             3715|               4|                   1|    0|NULL|NULL|NULL|
|   Gweta| mpicford7@apple.com|  male|   Nyanga|     Avamba|     Brother| Chisa Chisi|           318|       1973| 50|               Other|       5071|              541|               1|                   3|    0|NULL|NULL|NULL|
| Sibanda|   thappert8@psu.edu|  male|   Harare|   Feedspan|       Niece|        Geta|           715|       2002| 21|               Other|      22943|             8690|               5|                   2|    1|NULL|NULL|NULL|
|   Evans|erainbow9@pintere...|  male| Masvingo|   Fiveclub|      Mother|     Sithole|           887|       1984| 39|    Accident At Work|      27104|             6680|               2|                   3|    0|NULL|NULL|NULL|
|   Konde|  fcasonea@house.gov|  male| Bulawayo|   Fanoodle|     Brother|       Mirwa|           254|       1965| 58|    Accident At Work|      21842|              460|               1|                   3|    0|NULL|NULL|NULL|
|Tichaona|cwaddilowb@livein...|female|    Gweru|  Bubblebox|        Wife|       Konde|           446|       1990| 33|    Accident At Work|      10399|              561|               2|                   4|    0|NULL|NULL|NULL|
| Mabhena|tmarnanec@pcworld...|  male|   Nyanga|Twitterbeat|      Sister|      Jembwa|           907|       1976| 47|Road Traffic Acci...|      18217|             7474|               1|                   3|    0|NULL|NULL|NULL|
|Peterson|mogglebied@consta...|female|   Mutare|    Demimbu|       Niece|       Evans|           629|       2002| 21|    Accident At Work|      41518|             5011|               2|                   1|    0|NULL|NULL|NULL|
|   Konde|hmerrissone@natio...|  male|   Gwanda|    Dynazzy|      Sister|      Jembwa|           812|       1972| 51|               Other|      39613|             1110|               1|                   3|    1|NULL|NULL|NULL|
| Sithole|rreemanf@timesonl...|female|Marondera|Twitterwire|       Uncle|    Peterson|           820|       1983| 40|    Accident At Work|      30405|             7535|               1|                   2|    0|NULL|NULL|NULL|
| Mabhena| agrinstedg@jugem.jp|  male|Marondera|   Buzzbean| Grandmother|        Foto|           137|       1990| 33|    Accident At Work|      42734|             6955|               1|                   2|    0|NULL|NULL|NULL|
| Mabhena|lcollingwoodh@par...|female|   Gwanda|       Eayo|      Father|       Evans|           667|       1985| 38|    Accident At Work|       9110|             5165|               3|                   4|    0|NULL|NULL|NULL|
|    Foto|     hmorsei@icio.us|  male|    Gweru|      Quimm|        Wife|       Chipi|           449|       2002| 21|               Other|       6862|             3669|               1|                   4|    0|NULL|NULL|NULL|
| Sithole|   msoanj@seesaa.net|  male|Marondera|     Avavee| Grandfather|       Nyoni|           442|       1995| 28|               Other|      18713|              813|               2|                   1|    0|NULL|NULL|NULL|
+--------+--------------------+------+---------+-----------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
only showing top 20 rows

PYSPARK SQL

In [8]:
# Create a temporary view for SQL queries
df.createOrReplaceTempView('df_sql')
df1.createOrReplaceTempView('df_sql1')

In [9]:
result = spark.sql("select name from df_sql")
result.show()

+--------+
|    name|
+--------+
|   Chipi|
|   Femba|
|    Geta|
|Tichaona|
|   Chisa|
|   Gweta|
|   Konde|
|   Gweta|
| Sibanda|
|   Evans|
|   Konde|
|Tichaona|
| Mabhena|
|Peterson|
|   Konde|
| Sithole|
| Mabhena|
| Mabhena|
|    Foto|
| Sithole|
+--------+
only showing top 20 rows

In [10]:
result = spark.sql("select distinct name,email  from df_sql ")
result.show()

+-----------+--------------------+
|       name|               email|
+-----------+--------------------+
|      Gweta|rtwinn68@marriott...|
|       Gute|dethelstona7@miit...|
|      Mirwa|rbleeshl@barnesan...|
|       Geta|  brobarts4h@cnn.com|
|       Foto|  djaslem5h@phoca.cz|
|       Gute|ddesremedios8r@go...|
|       Foto|nfuscoio@linkedin...|
|      Nyoni|    iotuohyqu@a8.net|
|Chisa Chisi|smcgeechanro@cens...|
|      Nyoni|jberndt8u@people....|
|       Gute|jkuhnelb6@surveym...|
|      Nyoni|jcarderd2@hubpage...|
|       Bima|sboobiereg@google...|
|    Mabhena|bmcgreiln9@skyroc...|
|       Moyo|  amaynell1j@umn.edu|
|      Mirwa|           online.de|
|      Evans|  dhuggonsob@epa.gov|
|    Sithole|bcotilard7u@photo...|
|       Gute|       atry20@w3.org|
|      Chipi|    sgurnay4x@qq.com|
+-----------+--------------------+
only showing top 20 rows

In [11]:
result = spark.sql("select * from df_sql where relationship ='Mother'")
result.show()

+--------+--------------------+------+---------+------------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
|    name|               email|gender| location|    employer|relationship|patient_name|patient_suffix|patient_dob|Age|               cause|Fee Charged|membership_period|number_of_claims|number_of_dependants|label|_c16|_c17|_c18|
+--------+--------------------+------+---------+------------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
|    Geta|bchecchetelli2@ho...|female|   Rusape|      Skaboo|      Mother|       Chipi|           374|       1999| 24|Road Traffic Acci...|      39963|             6223|               2|                   2|    0|NULL|NULL|NULL|
|   Evans|erainbow9@pintere...|  male| Masvingo|    Fiveclub|      Mother|     Sithole|           887|       1984| 39|    Accident At Work|      27104|             6680|               2|                   3|    0|NULL|NULL|NULL|
|    Moyo|mheathfield1t@hao...|female|  Bindura|        Yodo|      Mother|     Samvura|           925|       1978| 45|Road Traffic Acci...|      33214|             4357|               3|                   1|    0|NULL|NULL|NULL|
|   Mirwa|  ssalvati2k@ask.com|female|   Mutare|        Muxo|      Mother|       Evans|           446|       1977| 46|               Other|      12807|             2364|               2|                   1|    1|NULL|NULL|NULL|
|    Bima|   sjardine2t@pen.io|  male| Bulawayo|        Eire|      Mother| Chisa Chisi|           805|       1986| 37|               Other|      39629|             3532|               6|                   4|    0|NULL|NULL|NULL|
| Sithole|vdarlasson45@bigc...|female|    Gweru|    Flashset|      Mother|     Sibanda|           977|       1969| 54|    Accident At Home|      36041|             8851|               5|                   2|    0|NULL|NULL|NULL|
|   Chisa| mhalm4g@comcast.net|female|   Mutare|     Edgetag|      Mother|       Konde|           119|       1971| 52|    Accident At Home|      28875|             4825|               3|                   4|    0|NULL|NULL|NULL|
|   Gweta|chull4o@opensourc...|  male|   Kadoma|  Flashpoint|      Mother|     Sithole|           812|       2003| 20|Road Traffic Acci...|      20629|              796|               1|                   3|    0|NULL|NULL|NULL|
|    Geta|aestick4q@oracle.com|  male|   Rusape|       Fadeo|      Mother|       Chiri|           947|       1981| 42|               Other|      29502|              435|               2|                   2|    0|NULL|NULL|NULL|
| Mabhena|rchomicz4s@blogsp...|female|   Rusape|    Riffwire|      Mother|       Chiri|           406|       1977| 46|               Other|      10713|             8121|               4|                   3|    0|NULL|NULL|NULL|
|   Konde|zgrange5l@simplem...|  male|   Harare|  Babbleopia|      Mother|       Chipi|           778|       1981| 42|    Accident At Home|      44060|              805|               4|                   1|    1|NULL|NULL|NULL|
| Sibanda|    ereyna5z@icq.com|female|   Rusape|  Flashpoint|      Mother|     Sithole|           457|       1969| 54|               Other|      25150|             6835|               1|                   3|    0|NULL|NULL|NULL|
| Mabhena|ipristnor64@myspa...|female|   Kwekwe|Dazzlesphere|      Mother|     Mabhena|           683|       1985| 38|    Accident At Work|       9451|             3933|               3|                   4|    0|NULL|NULL|NULL|
|   Evans|clefriec67@thegua...|  male| Bulawayo|     Skalith|      Mother|        Gute|           196|       1986| 37|    Accident At Work|      40246|             5073|               1|                   4|    0|NULL|NULL|NULL|
|   Gweta|rtwinn68@marriott...|  male|   Harare|      Skimia|      Mother|       Femba|           599|       1999| 24|               Other|      45198|             4449|               1|                   1|    0|NULL|NULL|NULL|
|    Bima|ajansie7d@accuwea...|  male|Marondera|  Zoomlounge|      Mother|        Geta|           664|       1982| 41|    Accident At Home|      26779|             1125|               1|                   1|    0|NULL|NULL|NULL|
|   Nyoni|dbartocci7j@mapqu...|  male|   Kadoma|    Fivespan|      Mother|        Foto|           220|       1970| 53|               Other|      26913|             4772|               5|                   3|    0|NULL|NULL|NULL|
|    Moyo|vmacsween7r@ucoz.com|  male|  Bindura|     Realmix|      Mother|       Chiri|           337|       1996| 27|    Accident At Work|      11671|              216|               2|                   2|    0|NULL|NULL|NULL|
|Tichaona|cbroadstock85@hos...|female|   Kwekwe|      Voolia|      Mother|       Nyoni|           180|       1970| 53|    Accident At Work|      22621|             6701|               4|                   2|    0|NULL|NULL|NULL|
| Sithole|mashton8f@taobao.com|female|   Rusape|Twitterworks|      Mother|        Gura|           106|       1994| 29|               Other|        979|             5798|               3|                   4|    1|NULL|NULL|NULL|
+--------+--------------------+------+---------+------------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
only showing top 20 rows

In [12]:
result = spark.sql("SELECT * from df_sql where name  in ('Moyo','Geta')")
result.show()

+----+--------------------+------+---------+-----------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
|name|               email|gender| location|   employer|relationship|patient_name|patient_suffix|patient_dob|Age|               cause|Fee Charged|membership_period|number_of_claims|number_of_dependants|label|_c16|_c17|_c18|
+----+--------------------+------+---------+-----------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
|Geta|bchecchetelli2@ho...|female|   Rusape|     Skaboo|      Mother|       Chipi|           374|       1999| 24|Road Traffic Acci...|      39963|             6223|               2|                   2|    0|NULL|NULL|NULL|
|Moyo|    irobecont@go.com|  male|  Bindura|    Edgeify|      Father|       Femba|           985|       2006| 17|               Other|       7718|             3123|               4|                   3|    0|NULL|NULL|NULL|
|Moyo|mheathfield1t@hao...|female|  Bindura|       Yodo|      Mother|     Samvura|           925|       1978| 45|Road Traffic Acci...|      33214|             4357|               3|                   1|    0|NULL|NULL|NULL|
|Geta|cosheerin2a@sbwir...|  male|   Kwekwe| Babbleblab| Grandmother|      Jembwa|           164|       1994| 29|    Accident At Work|      34993|             8872|               2|                   3|    0|NULL|NULL|NULL|
|Moyo|kemanulsson38@noa...|female|   Rusape|      Yadel|       Niece|        Geta|           223|       2007| 16|    Accident At Work|      36401|             7890|               5|                   4|    1|NULL|NULL|NULL|
|Moyo|karchbald3m@devia...|  male|   Mutare|      Kwinu|      Sister|       Evans|           799|       1989| 34|    Accident At Home|      17215|             3638|               5|                   3|    1|NULL|NULL|NULL|
|Geta|bfoyster3n@smugmu...|female|   Harare|       Fatz|     Husband|      Jembwa|           703|       1997| 26|    Accident At Work|      14386|             8390|               4|                   3|    0|NULL|NULL|NULL|
|Geta|aestick4q@oracle.com|  male|   Rusape|      Fadeo|      Mother|       Chiri|           947|       1981| 42|               Other|      29502|              435|               2|                   2|    0|NULL|NULL|NULL|
|Moyo|vrosengren5b@hao1...|female|    Gweru|    Demivee|     Brother|       Femba|           235|       1977| 46|    Accident At Work|       6271|             8222|               1|                   2|    0|NULL|NULL|NULL|
|Geta|cgiorgioni5f@hexu...|female|Marondera|    Buzzdog|        Wife|        Moyo|           580|       2000| 23|Road Traffic Acci...|      49461|             5915|               6|                   2|    1|NULL|NULL|NULL|
|Geta|sgumery5k@theguar...|  male|   Kwekwe|  Linklinks| Grandmother|     Mabhena|           112|       1968| 55|    Accident At Home|      28762|             3252|               5|                   4|    1|NULL|NULL|NULL|
|Geta|   spape60@umich.edu|female| Bulawayo|     Trilia| Grandmother|       Gweta|           632|       1977| 46|Road Traffic Acci...|      18220|              153|               2|                   3|    0|NULL|NULL|NULL|
|Geta| abracher6b@sohu.com|  male|   Gwanda|      Quatz|      Sister|        Foto|           157|       2002| 21|Road Traffic Acci...|      12758|             6308|               1|                   1|    0|NULL|NULL|NULL|
|Moyo|lhardwidge6d@reve...|  male|   Kwekwe|  Zoonoodle|     Husband|       Gweta|           774|       1996| 27|    Accident At Work|      47561|             3174|               3|                   4|    0|NULL|NULL|NULL|
|Moyo|         webster.com|female|   Kadoma|Brainlounge|    Daughter|     Sibanda|           817|       1972| 51|    Accident At Home|      21813|             2197|               4|                   3|    1|NULL|NULL|NULL|
|Geta|fempleton6w@chron...|female|   Rusape|     Kwideo|      Nepfew|       Evans|           210|       1998| 25|    Accident At Work|       8970|             8347|               1|                   4|    1|NULL|NULL|NULL|
|Geta|nwhetnall6x@netwo...|female|Marondera|      Mynte|    Daughter|        Moyo|           744|       1998| 25|               Other|      46942|             5178|               3|                   2|    0|NULL|NULL|NULL|
|Geta|llightbody73@miit...|female| Bulawayo|    Zoomdog|        Aunt|     Samvura|           562|       1967| 56|    Accident At Home|      14781|             7627|               5|                   3|    0|NULL|NULL|NULL|
|Moyo|nscutts79@weebly.com|  male| Masvingo|    Gabtune|       Niece|       Evans|           723|       1980| 43|    Accident At Work|      11616|             7066|               6|                   2|    0|NULL|NULL|NULL|
|Moyo|vmacsween7r@ucoz.com|  male|  Bindura|    Realmix|      Mother|       Chiri|           337|       1996| 27|    Accident At Work|      11671|              216|               2|                   2|    0|NULL|NULL|NULL|
+----+--------------------+------+---------+-----------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
only showing top 20 rows

In [13]:
result = spark.sql("select * from df_sql where name in ('Moyo','Geta') and location='Rusape' or relationship in('Mother','Husband')")
result.show()

+-------+--------------------+------+---------+-----------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
|   name|               email|gender| location|   employer|relationship|patient_name|patient_suffix|patient_dob|Age|               cause|Fee Charged|membership_period|number_of_claims|number_of_dependants|label|_c16|_c17|_c18|
+-------+--------------------+------+---------+-----------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
|  Femba|rsoonhouse1@googl...|female|Marondera|       Mudo|     Husband|     Sithole|           860|       1992| 31|               Other|      48905|             8269|               4|                   3|    0|NULL|NULL|NULL|
|   Geta|bchecchetelli2@ho...|female|   Rusape|     Skaboo|      Mother|       Chipi|           374|       1999| 24|Road Traffic Acci...|      39963|             6223|               2|                   2|    0|NULL|NULL|NULL|
|  Evans|erainbow9@pintere...|  male| Masvingo|   Fiveclub|      Mother|     Sithole|           887|       1984| 39|    Accident At Work|      27104|             6680|               2|                   3|    0|NULL|NULL|NULL|
| Jembwa|     khauchl@ask.com|  male|   Kadoma|   Realcube|     Husband|        Foto|           945|       1976| 47|    Accident At Work|      11791|             3060|               1|                   3|    0|NULL|NULL|NULL|
|  Chiri|nbutchersx@creati...|female|   Gwanda|      Yadel|     Husband|     Sithole|           572|       1996| 27|    Accident At Home|      33425|             9000|               4|                   2|    0|NULL|NULL|NULL|
|  Dihwa|blindholm17@baidu...|female|   Gwanda| Photospace|     Husband|       Mirwa|           921|       1970| 53|Road Traffic Acci...|      34590|              931|               5|                   4|    0|NULL|NULL|NULL|
|  Chisa|kkid18@tuttocitta.it|  male|    Gweru|      Tazzy|     Husband|    Tichaona|           320|       1972| 51|    Accident At Home|      43690|             3518|               4|                   3|    0|NULL|NULL|NULL|
|Mabhena|nwakely1e@network...|female|   Nyanga|   Linkbuzz|     Husband|      Jembwa|           684|       1989| 34|    Accident At Work|      33074|             3601|               2|                   3|    0|NULL|NULL|NULL|
|   Moyo|mheathfield1t@hao...|female|  Bindura|       Yodo|      Mother|     Samvura|           925|       1978| 45|Road Traffic Acci...|      33214|             4357|               3|                   1|    0|NULL|NULL|NULL|
|   Gura|ncorradeschi28@od...|female|   Rusape|    Dabfeed|     Husband|       Chiri|           222|       1999| 24|Road Traffic Acci...|       2363|             4605|               3|                   4|    1|NULL|NULL|NULL|
|  Mirwa|  ssalvati2k@ask.com|female|   Mutare|       Muxo|      Mother|       Evans|           446|       1977| 46|               Other|      12807|             2364|               2|                   1|    1|NULL|NULL|NULL|
|   Bima|   sjardine2t@pen.io|  male| Bulawayo|       Eire|      Mother| Chisa Chisi|           805|       1986| 37|               Other|      39629|             3532|               6|                   4|    0|NULL|NULL|NULL|
|   Foto|   shazell2x@psu.edu|female|   Kadoma|      Oyoyo|     Husband|    Peterson|           347|       1981| 42|    Accident At Home|      36150|             7851|               1|                   1|    0|NULL|NULL|NULL|
|   Moyo|kemanulsson38@noa...|female|   Rusape|      Yadel|       Niece|        Geta|           223|       2007| 16|    Accident At Work|      36401|             7890|               5|                   4|    1|NULL|NULL|NULL|
|   Bima|tbartolomeu3k@com...|female|  Bindura|  Topicblab|     Husband|    Peterson|           306|       1985| 38|Road Traffic Acci...|      13772|             8117|               5|                   4|    0|NULL|NULL|NULL|
|   Geta|bfoyster3n@smugmu...|female|   Harare|       Fatz|     Husband|      Jembwa|           703|       1997| 26|    Accident At Work|      14386|             8390|               4|                   3|    0|NULL|NULL|NULL|
|Sithole|vdarlasson45@bigc...|female|    Gweru|   Flashset|      Mother|     Sibanda|           977|       1969| 54|    Accident At Home|      36041|             8851|               5|                   2|    0|NULL|NULL|NULL|
|  Chisa| mhalm4g@comcast.net|female|   Mutare|    Edgetag|      Mother|       Konde|           119|       1971| 52|    Accident At Home|      28875|             4825|               3|                   4|    0|NULL|NULL|NULL|
|  Dihwa| pkernocke4i@msu.edu|female|   Mutare|    Voolith|     Husband|    Peterson|           304|       2001| 22|    Accident At Work|      28888|             8153|               6|                   4|    0|NULL|NULL|NULL|
|  Konde|mgenery4m@creativ...|female|   Nyanga|Thoughtbeat|     Husband|       Evans|           255|       1965| 58|               Other|      14998|             4029|               3|                   1|    0|NULL|NULL|NULL|
+-------+--------------------+------+---------+-----------+------------+------------+--------------+-----------+---+--------------------+-----------+-----------------+----------------+--------------------+-----+----+----+----+
only showing top 20 rows

In [14]:
result = spark.sql("select email from df_sql order by email desc")
result.show()

+--------------------+
|               email|
+--------------------+
| zwewell18@europa.eu|
|zwayman3o@sfgate.com|
|ztrevallion5b@cne...|
|  ztanmanlh@dmoz.org|
|zsweatmanbn@foxne...|
|zstithekz@chicago...|
|zspaightky@wiley.com|
|zscoggan5e@hugedo...|
|zschimankn3@white...|
| zsaill@examiner.com|
|zruslendj@ustream.tv|
| zromkeil@uol.com.br|
|  zpittford9o@pen.io|
|zpettus6q@behance...|
|zpemberton9l@ihg.com|
|zmontes9h@mozilla...|
|zmarkwellah@googl...|
| zmaggiorik9@aol.com|
|zkubasiewiczg4@to...|
|zkrebsiu@nbcnews.com|
+--------------------+
only showing top 20 rows

In [15]:
result = spark.sql("select email from df_sql where email like 'a%' ")
result.show()

+--------------------+
|               email|
+--------------------+
|  ajimmison0@sun.com|
| agrinstedg@jugem.jp|
|amacdermottn@wisc...|
|aoakleyz@quantcas...|
|avalerio12@harvar...|
|agoolden1a@trelli...|
|astrahan1s@wiley.com|
|  aimason1u@1688.com|
|afrayling2y@4shar...|
|aperfili3t@bbc.co.uk|
|aestick4q@oracle.com|
|ahalbert4v@thegua...|
|ablabie53@ezinear...|
|acarslake59@chica...|
|awillwood5r@zdnet...|
|awetherald63@home.pl|
| abracher6b@sohu.com|
|akondratenko6c@nb...|
|   askip6g@intel.com|
|astrutt6n@cdbaby.com|
+--------------------+
only showing top 20 rows

In [16]:
result = spark.sql("select name from df_sql where name like '%i'")
result.show()

+-----------+
|       name|
+-----------+
|      Chipi|
|      Nyoni|
|Chisa Chisi|
|      Chiri|
|      Chiri|
|Chisa Chisi|
|      Nyoni|
|      Chiri|
|      Chiri|
|      Chiri|
|      Chipi|
|      Chiri|
|      Chipi|
|      Chiri|
|Chisa Chisi|
|      Chiri|
|      Chipi|
|      Nyoni|
|Chisa Chisi|
|Chisa Chisi|
+-----------+
only showing top 20 rows

In [17]:
result = spark.sql("select SUM(`Fee Charged`) from df_sql")
result.show()

+----------------+
|sum(Fee Charged)|
+----------------+
|      1.782485E8|
+----------------+

In [18]:
result = spark.sql("select avg(`age`) from df_sql")
result.show()

+-----------------+
|         avg(age)|
+-----------------+
|35.94457142857143|
+-----------------+

In [19]:
result = spark.sql("SELECT SUM(`Fee Charged`) FROM df_sql")
result.show()

+----------------+
|sum(Fee Charged)|
+----------------+
|      1.782485E8|
+----------------+

JOINS

In [21]:
from pyspark.sql import functions as F

# Group by 'label' and aggregate 'Fee Charged' using sum and average
aggregated_df = df.groupBy("label").agg(
    F.sum("Fee Charged").alias("total_fee_charged"),
    F.avg("Fee Charged").alias("avg_fee_charged")
)

# Show the result
aggregated_df.show()

+-----+-----------------+------------------+
|label|total_fee_charged|   avg_fee_charged|
+-----+-----------------+------------------+
|    0|     1.42660771E8|25379.962818003914|
|    1|      3.5587729E7| 25806.91007976795|
+-----+-----------------+------------------+