In [37]:
pip install boto3 pandas

Requirement already satisfied: boto3 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.35.54)
Requirement already satisfied: pandas in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: botocore<1.36.0,>=1.35.54 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (1.35.55)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (0.10.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from botocore<1.36.0,>=1.35.54->boto3) (2.2.1)
Requirement already satisfied: six>=1.5 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\leowa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [38]:
import boto3
import pandas
import numpy
import io
import pandas as pd

In [39]:
# Create a session with specific credentials
session = boto3.Session(
    aws_access_key_id='AKIAZYXIBCG3F6SPCPXH',
    aws_secret_access_key='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',
    region_name='us-east-2'
)

In [40]:
# Create an S3 client using this session
s3_client = session.client('s3')

In [41]:
for bucket in s3_client.list_buckets()['Buckets']:
    print(bucket['Name'])

etl-extractdata
glue-2024
privasaipen-project
pythonparquet

In [42]:
bucket_name ='etl-extractdata'
file_key = 'social_media_sentiment_randomized.csv'

In [43]:
response = s3_client.get_object(Bucket=bucket_name,Key=file_key)

In [44]:
file_content = response['Body'].read().decode('utf-8')

In [45]:
# Load the content into a Pandas DataFrame
data = pd.read_csv(io.StringIO(file_content))
print("\nData from the CSV file:")
print(data.head())

Data from the CSV file:
   post_id   user_id    username      post_text   post_date   likes  shares  \
0      1.0  121959.0  user244295  Sample text 0  2023-04-17  3687.0   261.0
1      2.0  671156.0  user925518  Sample text 1  2023-02-19  4853.0    28.0
2      3.0  131933.0  user712216  Sample text 2  2023-08-07  4130.0   522.0
3      4.0  365839.0  user341636  Sample text 3  2023-02-07  4494.0   477.0
4      5.0  259179.0  user950802            NaN  2023-04-24  2948.0   278.0

   comments  followers  sentiment_score  engagement_score     location  \
0      25.0    22917.0         0.590065         69.421810      Chicago
1     132.0    59043.0        -0.236957          2.155259      Chicago
2     265.0    20901.0        -0.674165         62.612177      Houston
3     291.0    52743.0        -0.935705         93.082185  Los Angeles
4     103.0    72226.0        -0.426078         16.555976  Los Angeles

  device_type post_type has_media
0         NaN       NaN       NaN
1      tablet     image       NaN
2     desktop       NaN      True
3     desktop     image      True
4         NaN      link     False

In [18]:
data

,post_id,user_id,username,post_text,post_date,likes,shares,comments,followers,sentiment_score,engagement_score,location,device_type,post_type,has_media
0,1.0,121959.0,user244295,Sample text 0,2023-04-17,3687.0,261.0,25.0,22917.0,0.590065,69.421810,Chicago,NaN,NaN,NaN
1,2.0,671156.0,user925518,Sample text 1,2023-02-19,4853.0,28.0,132.0,59043.0,-0.236957,2.155259,Chicago,tablet,image,NaN
2,3.0,131933.0,user712216,Sample text 2,2023-08-07,4130.0,522.0,265.0,20901.0,-0.674165,62.612177,Houston,desktop,NaN,True
3,4.0,365839.0,user341636,Sample text 3,2023-02-07,4494.0,477.0,291.0,52743.0,-0.935705,93.082185,Los Angeles,desktop,image,True
4,5.0,259179.0,user950802,NaN,2023-04-24,2948.0,278.0,103.0,72226.0,-0.426078,16.555976,Los Angeles,NaN,link,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999996.0,769412.0,user565006,Sample text 999995,2023-10-13,4316.0,166.0,113.0,9232.0,-0.369863,78.306207,Los Angeles,NaN,link,NaN
999996,999997.0,544991.0,user573914,Sample text 999996,2023-11-29,672.0,478.0,25.0,95308.0,0.226876,92.473804,New York,mobile,link,False
999997,999998.0,69270.0,user192648,Sample text 999997,2023-10-24,4919.0,NaN,105.0,21555.0,0.440351,25.440340,NaN,desktop,text,True
999998,999999.0,410706.0,user120420,Sample text 999998,2023-01-22,359.0,929.0,35.0,4283.0,-0.898692,50.937608,New York,NaN,image,True
999999,1000000.0,202454.0,user923441,Sample text 999999,2023-11-22,3228.0,531.0,208.0,51876.0,0.721089,75.023563,Houston,desktop,image,NaN

In [6]:
pip install hadoop-aws

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement hadoop-aws (from versions: none)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\leowa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for hadoop-aws

In [ ]:
from pyspark.sql import SparkSession
import boto3
import pandas as pd
import io

# Initialize Spark session
spark = SparkSession.builder \
    .appName("ReadS3Data") \
    .config("spark.hadoop.fs.s3a.access.key", "AKIAZYXIBCG3F6SPCPXH") \
    .config("spark.hadoop.fs.s3a.secret.key", "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") \
    .config("spark.hadoop.fs.s3a.endpoint", "s3.us-east-2.amazonaws.com") \
    .getOrCreate()

# Define the S3 bucket and file path
bucket_name = 'etl-extractdata'
file_key = 'social_media_sentiment_randomized.csv'
s3_file_path = f"s3a://{bucket_name}/{file_key}"

# Read the CSV file directly from S3 into a PySpark DataFrame
data = spark.read.csv(s3_file_path, header=True, inferSchema=True)

# Show the top rows of the DataFrame
data.show()

In [34]:
s3_file_path = f"s3a://{bucket_name}/{file_key}"

In [35]:
s3_file_path

's3a://etl-extractdata/social_media_sentiment_randomized.csv'

In [ ]:
file_content

In [47]:
response

{'ResponseMetadata': {'RequestId': 'C8SV4G66ZV9WTC4V',
  'HostId': 'doi2O+Olc19g+e3wk4MLHhaU2+LGnP1s4sYq5AIpjP04AtQDVCXuea2bNrgXObdVtK8VUjC6jgg=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'doi2O+Olc19g+e3wk4MLHhaU2+LGnP1s4sYq5AIpjP04AtQDVCXuea2bNrgXObdVtK8VUjC6jgg=',
   'x-amz-request-id': 'C8SV4G66ZV9WTC4V',
   'date': 'Sat, 09 Nov 2024 12:51:05 GMT',
   'last-modified': 'Sat, 09 Nov 2024 11:13:04 GMT',
   'etag': '"62273327de9072e05786766360350701-9"',
   'x-amz-server-side-encryption': 'AES256',
   'accept-ranges': 'bytes',
   'content-type': 'text/csv',
   'content-length': '142145146',
   'server': 'AmazonS3'},
  'RetryAttempts': 1},
 'AcceptRanges': 'bytes',
 'LastModified': datetime.datetime(2024, 11, 9, 11, 13, 4, tzinfo=tzutc()),
 'ContentLength': 142145146,
 'ETag': '"62273327de9072e05786766360350701-9"',
 'ContentType': 'text/csv',
 'ServerSideEncryption': 'AES256',
 'Metadata': {},
 'Body': <botocore.response.StreamingBody at 0x16b0325d360>}