In [1]:
pip install boto3 pandas

Requirement already satisfied: boto3 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.35.54)
Requirement already satisfied: pandas in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: botocore<1.36.0,>=1.35.54 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (1.35.55)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (0.10.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from botocore<1.36.0,>=1.35.54->boto3) (2.2.1)
Requirement already satisfied: six>=1.5 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\leowa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import boto3
import pandas as pd
import io

In [3]:
session = boto3.Session(
    aws_access_key_id='AKIAZYXIBCG3F6SPCPXH',
    aws_secret_access_key='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',
    region_name='us-east-2'
)

In [4]:
s3_client = session.client('s3')

In [5]:
for bucket in s3_client.list_buckets()['Buckets']:
    print(bucket['Name'])

etl-extractdata
glue-2024
privasaipen-project
pythonparquet

In [16]:
bucket_name = 'etl-extractdata'
file_key = 'customer_segmentation/categorical.csv'

In [17]:
response = s3_client.get_object(Bucket=bucket_name, Key=file_key)

In [18]:
file_content = response['Body'].read().decode('utf-8')

In [19]:
data = pd.read_csv(io.StringIO(file_content))
print("\nData from the CSV file:")
print(data.head())

Data from the CSV file:
  gender educationlevel maritalstatus accounttype preferredchannel  \
0      F       Master's      Divorced     Premium         In-store
1      F     Bachelor's        Single        Gold         In-store
2      M       Master's       Married       Basic         In-store
3      F       Master's      Divorced        Gold           Online
4      F       Master's       Married     Premium           Online

  productcategory region churnrisk campaignresponse preferredpaymentmethod
0         Apparel   West    Medium              Yes                   Cash
1     Electronics  North       Low               No                   Cash
2         Apparel  North      High               No                   Cash
3       Groceries   West      High              Yes                   Cash
4       Groceries  South    Medium              Yes             Debit Card

In [ ]:
data

,gender,educationlevel,maritalstatus,accounttype,preferredchannel,productcategory,region,churnrisk,campaignresponse,preferredpaymentmethod
0,F,Master's,Divorced,Premium,In-store,Apparel,West,Medium,Yes,Cash
1,F,Bachelor's,Single,Gold,In-store,Electronics,North,Low,No,Cash
2,M,Master's,Married,Basic,In-store,Apparel,North,High,No,Cash
3,F,Master's,Divorced,Gold,Online,Groceries,West,High,Yes,Cash
4,F,Master's,Married,Premium,Online,Groceries,South,Medium,Yes,Debit Card
...,...,...,...,...,...,...,...,...,...,...
199995,M,Bachelor's,Divorced,Gold,In-store,Apparel,West,High,Yes,Debit Card
199996,M,High School,Divorced,Basic,Online,Electronics,North,Low,No,Credit Card
199997,M,Master's,Divorced,Basic,In-store,Apparel,West,High,Yes,Cash
199998,F,Bachelor's,Divorced,Gold,Online,Groceries,North,Medium,Yes,Cash
199999,M,High School,Divorced,Premium,Mobile App,Apparel,North,Medium,No,Debit Card

:

In [5]:
import boto3

# Create a session with specific credentials
session = boto3.Session(
    aws_access_key_id='AKIAZYXIBCG3F6SPCPXH',
    aws_secret_access_key='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',
    region_name='us-east-2'
)

# Now use this session to create an S3 client
s3 = session.client('s3')

bucket_name = 'etl-extractdata'
file_key = 'real_time_transaction_data_N/Real_Time_Transaction_Monitoring.csv'

response = s3.get_object(Bucket=bucket_name, Key=file_key)

# Read the content of the file
file_content = response['Body'].read().decode('utf-8')

# Process the data (example: loading into a Pandas DataFrame)
import pandas as pd
data = pd.read_csv(io.StringIO(file_content))
print(data.head())

                                      transaction_id  timestamp  customer_id  \
0                                ,,,,,,,,,,,,,,,,,,,        NaN          NaN
1                                ,,,,,,,,,,,,,,,,,,,        NaN          NaN
2                                ,,,,,,,,,,,,,,,,,,,        NaN          NaN
3  T0000003,2024-10-12 17:05:49.043867,C84485,Cus...        NaN          NaN
4                                ,,,,,,,,,,,,,,,,,,,        NaN          NaN

   customer_name  transaction_amount  transaction_type  payment_method  \
0            NaN                 NaN               NaN             NaN
1            NaN                 NaN               NaN             NaN
2            NaN                 NaN               NaN             NaN
3            NaN                 NaN               NaN             NaN
4            NaN                 NaN               NaN             NaN

   merchant_id  merchant_name  product_id  product_category  product_name  \
0          NaN            NaN         NaN               NaN           NaN
1          NaN            NaN         NaN               NaN           NaN
2          NaN            NaN         NaN               NaN           NaN
3          NaN            NaN         NaN               NaN           NaN
4          NaN            NaN         NaN               NaN           NaN

   transaction_status  location  device_type  browser  is_fraud  \
0                 NaN       NaN          NaN      NaN       NaN
1                 NaN       NaN          NaN      NaN       NaN
2                 NaN       NaN          NaN      NaN       NaN
3                 NaN       NaN          NaN      NaN       NaN
4                 NaN       NaN          NaN      NaN       NaN

   merchant_category  transaction_channel  payment_gateway
0                NaN                  NaN              NaN
1                NaN                  NaN              NaN
2                NaN                  NaN              NaN
3                NaN                  NaN              NaN
4                NaN                  NaN              NaN

In [6]:
# Create a session with specific credentials
session = boto3.Session(
    aws_access_key_id='AKIAZYXIBCG3F6SPCPXH',
    aws_secret_access_key='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',
    region_name='us-east-2'
)

In [7]:
s3 = session.client('s3')

In [8]:
bucket_name = 'etl-extractdata'
file_key = 'real_time_transaction_data_N/Real_Time_Transaction_Monitoring.csv'

In [9]:
response = s3.get_object(Bucket=bucket_name, Key=file_key)

In [10]:
file_content = response['Body'].read().decode('utf-8')

In [11]:
# Process the data (example: loading into a Pandas DataFrame)
import pandas as pd
data = pd.read_csv(io.StringIO(file_content))
print(data.head())

                                      transaction_id  timestamp  customer_id  \
0                                ,,,,,,,,,,,,,,,,,,,        NaN          NaN
1                                ,,,,,,,,,,,,,,,,,,,        NaN          NaN
2                                ,,,,,,,,,,,,,,,,,,,        NaN          NaN
3  T0000003,2024-10-12 17:05:49.043867,C84485,Cus...        NaN          NaN
4                                ,,,,,,,,,,,,,,,,,,,        NaN          NaN

   customer_name  transaction_amount  transaction_type  payment_method  \
0            NaN                 NaN               NaN             NaN
1            NaN                 NaN               NaN             NaN
2            NaN                 NaN               NaN             NaN
3            NaN                 NaN               NaN             NaN
4            NaN                 NaN               NaN             NaN

   merchant_id  merchant_name  product_id  product_category  product_name  \
0          NaN            NaN         NaN               NaN           NaN
1          NaN            NaN         NaN               NaN           NaN
2          NaN            NaN         NaN               NaN           NaN
3          NaN            NaN         NaN               NaN           NaN
4          NaN            NaN         NaN               NaN           NaN

   transaction_status  location  device_type  browser  is_fraud  \
0                 NaN       NaN          NaN      NaN       NaN
1                 NaN       NaN          NaN      NaN       NaN
2                 NaN       NaN          NaN      NaN       NaN
3                 NaN       NaN          NaN      NaN       NaN
4                 NaN       NaN          NaN      NaN       NaN

   merchant_category  transaction_channel  payment_gateway
0                NaN                  NaN              NaN
1                NaN                  NaN              NaN
2                NaN                  NaN              NaN
3                NaN                  NaN              NaN
4                NaN                  NaN              NaN

In [12]:
print(data)

                                            transaction_id  timestamp  \
0                                      ,,,,,,,,,,,,,,,,,,,        NaN
1                                      ,,,,,,,,,,,,,,,,,,,        NaN
2                                      ,,,,,,,,,,,,,,,,,,,        NaN
3        T0000003,2024-10-12 17:05:49.043867,C84485,Cus...        NaN
4                                      ,,,,,,,,,,,,,,,,,,,        NaN
...                                                    ...        ...
1048570                                ,,,,,,,,,,,,,,,,,,,        NaN
1048571  T1048571,2024-10-19 17:34:54.074123,C72290,Cus...        NaN
1048572  T1048572,2024-10-30 02:02:54.074123,C44583,Cus...        NaN
1048573                                ,,,,,,,,,,,,,,,,,,,        NaN
1048574  T1048574,2024-10-16 16:03:54.074123,C63419,Cus...        NaN

         customer_id  customer_name  transaction_amount  transaction_type  \
0                NaN            NaN                 NaN               NaN
1                NaN            NaN                 NaN               NaN
2                NaN            NaN                 NaN               NaN
3                NaN            NaN                 NaN               NaN
4                NaN            NaN                 NaN               NaN
...              ...            ...                 ...               ...
1048570          NaN            NaN                 NaN               NaN
1048571          NaN            NaN                 NaN               NaN
1048572          NaN            NaN                 NaN               NaN
1048573          NaN            NaN                 NaN               NaN
1048574          NaN            NaN                 NaN               NaN

         payment_method  merchant_id  merchant_name  product_id  \
0                   NaN          NaN            NaN         NaN
1                   NaN          NaN            NaN         NaN
2                   NaN          NaN            NaN         NaN
3                   NaN          NaN            NaN         NaN
4                   NaN          NaN            NaN         NaN
...                 ...          ...            ...         ...
1048570             NaN          NaN            NaN         NaN
1048571             NaN          NaN            NaN         NaN
1048572             NaN          NaN            NaN         NaN
1048573             NaN          NaN            NaN         NaN
1048574             NaN          NaN            NaN         NaN

         product_category  product_name  transaction_status  location  \
0                     NaN           NaN                 NaN       NaN
1                     NaN           NaN                 NaN       NaN
2                     NaN           NaN                 NaN       NaN
3                     NaN           NaN                 NaN       NaN
4                     NaN           NaN                 NaN       NaN
...                   ...           ...                 ...       ...
1048570               NaN           NaN                 NaN       NaN
1048571               NaN           NaN                 NaN       NaN
1048572               NaN           NaN                 NaN       NaN
1048573               NaN           NaN                 NaN       NaN
1048574               NaN           NaN                 NaN       NaN

         device_type  browser  is_fraud  merchant_category  \
0                NaN      NaN       NaN                NaN
1                NaN      NaN       NaN                NaN
2                NaN      NaN       NaN                NaN
3                NaN      NaN       NaN                NaN
4                NaN      NaN       NaN                NaN
...              ...      ...       ...                ...
1048570          NaN      NaN       NaN                NaN
1048571          NaN      NaN       NaN                NaN
1048572          NaN      NaN       NaN                NaN
1048573          NaN      NaN       NaN                NaN
1048574          NaN      NaN       NaN                NaN

         transaction_channel  payment_gateway
0                        NaN              NaN
1                        NaN              NaN
2                        NaN              NaN
3                        NaN              NaN
4                        NaN              NaN
...                      ...              ...
1048570                  NaN              NaN
1048571                  NaN              NaN
1048572                  NaN              NaN
1048573                  NaN              NaN
1048574                  NaN              NaN

[1048575 rows x 20 columns]